fonts/
build/
*.userdb/
trash/

*.ocd2
user.yaml
user.yaml
installation.yaml
default.custom.yaml

# computer
default.yaml

# ibus-rime
ibus_rime.yaml

# trime
kuro.trime.custom.yaml
kuro.trime.yaml
tongwenfeng.trime.yaml
trime.yaml
